@font-face {
  font-family: "Jiayi Sans";
  src: url("../fonts/NeueMontreal-Regular.otf") format("opentype");
  font-weight: 450;
  font-style: normal;
  font-display: auto;
}

body {
  font-family: "Jiayi Sans", sans-serif;
}
